* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quoteCard {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  background-color: #313b47;
  width: 100%;
  height: 450px;
  border-radius: 25px;
  color: #cee3e8;
  font-size: 1.5rem;
  box-shadow: 1px 10px 35px -1px rgba(0,0,0,0.51);
}

.text {
  margin-inline: 30px;
  display: none;
}

.line {
  bottom: 300px;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100px;
}


#diceButtonId {
  margin-top: 60px;
  margin-inline: auto;
  background-color: hsl(150, 100%, 66%);
  border-radius: 100%;
  border-style: none;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  transform: translateY(50%);
  opacity: 0;
  box-shadow: 1px 10px 24px -1px rgba(0,0,0,0.51);
}


#diceButtonId:hover {
  transition: .1s ease-in-out;
  box-shadow: 0 0 10px #52ffa8;

}
#diceButtonId svg{
  rotate: 360deg;
}