
.App {
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100%;


}

.spinner {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: #202632;
  z-index: 1;
  color: #4fa94d;
  
}

.landing {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: #202632;
  z-index: 2;
  color: #4fa94d;
}